// fonts
.fp {font-family: 'Arial','Helvetica',sans-serif;} // font primary
.fh {font-family: 'Patrick Hand',sans-serif;} // font header
.fi {font-family: sans-serif;} // font icon

// body
@bb: #ff9c00; // body background

// colors
@cp: #000000; // color primary
@cl: #bf0000; // color link
@blue: #00475c;

// font sizes
@fsp: 13px; // font size primary
@fsh1: 36px; // font size h1
@fsh2: 28px; // font size h2
@fsh3: 24px; // font size h3
@fsh4: 20px; // font size h4
@fsh5: @fsp; // font size h5
@fsh6: @fsp; // font size h6

// line heights
@lh1: 1; // line height 1
@lhh: 1.2; // line height header
@lhp: 1.4; // line height primary

// layout
@content-width: 1000px;
@content-padding: 20px;