#page-header {
	.box-shadow(0 0 8px fade(#000,50%));
	min-width: @content-width;
	min-height: 265px;
	margin: 0 0 33px;
	background: url(../images/bg/02.png) no-repeat top;
	.logo {
		padding: 32px 0 0;
		margin: 0 0 38px;
		a {
			.fh;
			display: block;
			width: 400px;
			min-height: 155px;
			text-decoration: none;
			color: #fff;
			padding: 32px 0 0 146px;
			font-size: 38px;
			line-height: 1;
			background: url(../images/logo/01.png) no-repeat;
			small {
				font-size: 30px;
			}
		}
	}
}
#col-main {
	float: right;
	width: 690px;
	padding: 0 0 24px;
}
#col-center {
	float: left;
	width: 466px;
}
#col-right {
	float: right;
	width: 203px;
	padding: 5px 0 0;
}
#col-left {
	float: left;
	width: 203px;
	padding: 5px 0 24px;
}
#wrapper {
	padding: 0 0 25px;
	background: url(../images/bg/04.png) no-repeat bottom;
	.wrapper_01 {
		padding: 25px 0 0;
		background: url(../images/bg/03.png) no-repeat top;
	}
	.wrapper_02 {
		.clearfix;
		padding: 15px 20px;
		background: #ffb033;
		background: fade(#fff,20%);
	}
}
#col-bottom {
	clear: both;
	padding: 0 0 28px;
	margin: 0 0 -23px;
	background: url(../images/bg/21.png) no-repeat bottom;
	.col-bottom-top {
		padding: 28px 0 0;
		background: url(../images/bg/20.png) no-repeat top;
	}
	.col-bottom-in {
		.clearfix;
		background: #fff;
	}
}
#page-footer {
	padding: 20px 0;
	.xart {
		margin: 7px 0;
		float: right;
		font-size: 9px;
		text-transform: uppercase;
		img {
			float: right;
			margin: -4px -3px 0 8px;
		}
		a {
			color: #fff;
			text-decoration: none;
			&:hover{
				text-decoration: underline;
			}
		}
	}
	.copy {
		width: 640px;
		float: left;
		font-size: 11px;
		color: @blue;
		p {
			margin: 10px 0;
		}
	}
}
#gotop{
	a{
		.transition(0.2s);
		position: fixed;
		z-index: 99999;
		bottom: -50px;
		right: 20px;
		height: 50px;
		width: 50px;
		text-indent: -9999px;
		line-height: 50px;
		text-align: center;
		background: @cl;
		color: #fff;
		text-decoration: none;
		&:before{
			.fi;
			position: absolute;
			top:0;
			left: 0;
			width: 100%;
			text-indent: 0;
			content: 'top';
			font-size: 20px;
		}
		&:hover{
			background: @cp;
		}
	}
	&.on{
		a{
			bottom: 20px;
		}
	}
}