.mod_search {
	.clearfix;
	float: left;
	width: 193px;
	input {
		.rin;
		width: 140px;
		height: 30px;
		padding: 7px 10px;
		font-size: 11px;
		float: left;
		background: url(../images/form/01.png) no-repeat;
		&:focus {
			background-position: 0 -30px;
		}
	}
	button {
		.rin;
		text-indent: -9999px;
		width: 34px;
		height: 37px;
		float: left;
		margin: -4px 0 0 7px;
		background: url(../images/form/02.png) no-repeat;
		&:hover {
			background-position: 0 -37px;
		}
	}
}
.mod_breadcrumbs{
	width: 500px;
	padding: 12px 0 5px 30px;
	float: left;
	background: url(../images/icon/04.png) no-repeat 0 2px;
	ul{
		.rul;
		.clearfix;
		li{
			float: left;
			margin-right: 15px;
			padding-left: 24px;
			font-weight: bold;
			font-size: 11px;
			white-space: nowrap;
			&:before{
				top: 2px;
			}
			a {
				text-decoration: none;
				&:hover{
					text-decoration: underline;
				}
			}
			&:first-child {
				&:before{
					display: none;
				}
			}
		}
	}
}
.mod_menu-header {
	width: 200px;
	padding: 2px 7px 0 0;
	float: right;
	ul {
		.rul;
		float: right;
		li {
			.rli;
			float: left;
			margin: 0 0 0 7px;
			a {
				display: block;
			}
			&.home,&.contact,&.sitemap {
				text-indent: -9999px;
				a {
					width: 32px;
					height: 32px;
					-webkit-opacity: 0.3;
					-moz-opacity: 0.3;
					opacity: 0.3;
					filter:alpha(opacity=30);
					background: url(../images/icon/01.png) no-repeat;
					&:hover {
						-webkit-opacity: 1;
						-moz-opacity: 1;
						opacity: 1;
						filter:alpha(opacity=100);
					}
				}
			}
			&.contact a {
				background-position: 0 -32px;
			}
			&.sitemap a {
				background-position: 0 -64px;
			}
		}
	}
}
.mod_custom-intro {
	padding: 0 0 23px;
	margin: 0 0 14px;
	line-height: 1.3;
	color: @blue;
	background: url(../images/bg/07.png) no-repeat bottom;
	.mod-top {
		padding: 19px 0 0;
		background: url(../images/bg/05.png) no-repeat top;
	}
	.mod-in {
		.clearfix;
		padding: 7px 32px 5px;
		background: url(../images/bg/06.png) repeat-y;
	}
	.mod-title {
		.fh;
		margin: 0 -10px 24px;
		padding: 23px 100px 0 16px;
		min-height: 89px;
		font-size: 25px;
		line-height: 1;
		background: url(../images/bg/22.png) no-repeat;
	}
	p {
		margin: 15px 0;
	}
	nav {
		float: right;
		margin: -15px -5px 0 0;
		a {
			display: block;
			width: 146px;
			height: 40px;
			line-height: 34px;
			padding: 0 6px 0 0;
			text-decoration: none;
			color: #fff;
			font-weight: bold;
			font-size: 13px;
			text-align: center;
			background: url(../images/form/03.png);
			&:hover{
				background-position: 0 -40px;
			}
		}
	}
}
.mod_custom-classes {
	padding: 0 0 23px;
	margin: 0 0 14px;
	background: url(../images/bg/10.png) no-repeat bottom;
	.mod-top {
		padding: 19px 0 0;
		background: url(../images/bg/08.png) no-repeat top;
	}
	.mod-in {
		.clearfix;
		padding: 7px 32px 17px;
		background: url(../images/bg/09.png) repeat-y;
	}
	.mod-title {
		.fh;
		font-size: 30px;
		line-height: 1;
		margin: 0 0 22px;
		background: url(../images/bg/24.png) no-repeat right 17px;
	}
	ul {
		.rul;
		.clearfix;
		margin: 0 -6px;
		li {
			.rli;
			.fh;
			font-size: 16px;
			line-height: 1.2;
			float: left;
			width: 102px;
			color: #004400;
			text-align: center;
			&:before{
				position: static;
				display: block;
				margin: 0 auto 9px;
				width: 78px;
				height: 73px;
				background: url(../images/icon/02.png) no-repeat;
			}
			&.item-02 {
				color: #c95400;
				&:before{
					background-position: 0 -73px;
				}
			}
			&.item-03 {
				color: #004a93;
				&:before{
					background-position: 0 -146px;
				}
			}
			&.item-04 {
				color: #db0000;
				&:before{
					background-position: 0 -219px;
				}
			}
		}
	}
}
.mod_newsflash_xart {
	position: relative;
	padding: 26px 31px 10px;
	margin: 0 0 14px;
	background: url(../images/bg/11.png) no-repeat;
	.mod-title {
		.fh;
		font-size: 30px;
		line-height: 1;
		margin: 0 0 18px;
		width: 340px;
		background: url(../images/bg/25.png) no-repeat right 20px;
	}
	section {
		width: 400px;
		margin: 0 0 12px;
		article {
			float: left;
			width: 180px;
			white-space: normal;
			line-height: 1.3;
			figure {
				margin: 0 0 9px;
				img {
					border: 2px solid #fff;
				}
				&:hover{
					img {
						border-color: @cl;
					}
				}
			}
			time {
				display: block;
				font-weight: bold;
				color: @blue;
				line-height: 1.3;
			}
			h2 {
				.fp;
				font-weight: bold;
				font-size: 13px;
				margin: 0;
			}
			p {
				margin: 8px 0;
			}
		}
	}
	.cycle-carousel-wrap {
		width: 9999em;
		article {
			margin: 0 40px 0 0;
		}
	}
	nav {
		clear: both;
		text-align: center;
		a {
			display: inline-block;
			height: 33px;
			width: 118px;
			line-height: 28px;
			margin: 0 -10px 0 0;
			padding: 0 5px 0 0;
			font-weight: bold;
			color: #fff;
			text-decoration: none;
			font-size: 12px;
			background: url(../images/form/04.png) no-repeat;
			&:hover{
				background-position: 0 -33px;
			}
		}
	}
	.prev,.next {
		position: absolute;
		right: 60px;
		top: 37px;
		width: 20px;
		height: 16px;
		background: url(../images/icon/06.png) no-repeat;
		-webkit-opacity: 0.4;
		-moz-opacity: 0.4;
		opacity: 0.4;
		filter:alpha(opacity=40);
		&:hover{
			-webkit-opacity: 1;
			-moz-opacity: 1;
			opacity: 1;
			filter:alpha(opacity=100);
		}
	}
	.next {
		right: 30px;
		background-position: 0 -16px;
	}
}
.mod_custom-contact {
	font-size: 12px;
	line-height: 1.25;
	padding: 0 0 17px;
	margin: 0 0 14px;
	background: url(../images/bg/16.png) no-repeat bottom;
	.mod-top {
		padding: 13px 0 0;
		background: url(../images/bg/14.png) no-repeat;
	}
	.mod-in {
		.clearfix;
		padding: 7px 28px 0 18px;
		background: url(../images/bg/15.png) repeat-y;
	}
	.mod-title {
		.fh;
		font-size: 21px;
		line-height: 1;
		color: @blue;
		margin: 0 0 -2px;
	}
	p {
		margin: 16px 0;
	}
	.mod-bottom {
		color: #fff;
		a {
			color: #fff;
		}
	}
	nav {
		margin: 17px 0 4px;
		text-align: center;
		a {
			display: inline-block;
			height: 33px;
			width: 118px;
			line-height: 28px;
			margin: 0 -10px 0 0;
			padding: 0 5px 0 0;
			font-weight: bold;
			color: #fff;
			text-decoration: none;
			font-size: 12px;
			background: url(../images/form/04.png) no-repeat 0 -33px;
			&:hover{
				background-position: 0 0;
			}
		}
	}
}
.mod_random_image {
	position: relative;
	margin: 32px 0 21px;
	ul {
		.rul;
		position: absolute;
		top: 90px;
		left: 37px;
		height: 130px;
		width: 130px;
		overflow: hidden;
		background: #7c7772;
		li {
			.rli;
		}
	}
	nav {
		position: relative;
		z-index: 100;
		a {
			.fh;
			position: relative;
			text-align: center;
			display: block;
			padding: 283px 55px 0 48px;
			margin: 0 0 0 -9px;
			min-height: 325px;
			color: #000;
			text-decoration: none;
			font-size: 19px;
			line-height: 0.8;
			background: url(../images/bg/23.png) no-repeat;
			&:before{
				position: absolute;
				content: '';
				right: 38px;
				bottom: 2px;
				width: 32px;
				height: 32px;
				-webkit-opacity: 0.4;
				-moz-opacity: 0.4;
				opacity: 0.4;
				filter:alpha(opacity=40);
				background: url(../images/icon/01.png) no-repeat 0 -64px;
			}
			&:hover{
				color: @cl;
				&:before{
					-webkit-opacity: 1;
					-moz-opacity: 1;
					opacity: 1;
					filter:alpha(opacity=100);
				}
			}
		}
	}
}
.mod_custom-buttons {
	margin: 0 0 14px;
	ul {
		.rul;
		li {
			.rli;
			margin: 6px 0;
			a {
				.fh;
				display: block;
				width: 203px;
				height: 75px;
				padding: 12px 55px 0 17px;
				font-size: 21px;
				line-height: 1;
				color: #fff;
				text-decoration: none;
				background: url(../images/form/05.png) no-repeat;
				&:hover{
					background-position: 0 -75px;
				}
			}
			&.item-01 a:before,&.item-02 a:before {
				position: absolute;
				content: '';
				right: 16px;
				top: 14px;
				width: 42px;
				height: 42px;
				background: url(../images/icon/03.png) no-repeat;
			}
			&.item-02 a:before {
				background-position: 0 -42px;
			}
		}
	}
}
.mod_menu-sidebar {
	margin: 0 0 44px;
	ul {
		.rul;
		margin: 10px 0 27px 13px;
		li {
			font-weight: bold;
			line-height: 1.2;
			margin: 5px 0;
			padding-left: 19px;
			&:before{
				top: 2px;
			}
			a {
				text-decoration: none;
				&:hover{
					text-decoration: underline;
				}
			}
			&.act {
				&:before{
					background-position: 0 -9px;
				}
				&>a {
					color: @blue;
				}
			}
			ul {
				margin-left: 0;
				margin-bottom: 15px;
				li {
					font-weight: normal;
					font-size: 12px;
				}
			}
		}
	}
}
.mod_poll {
	position: relative;
	font-size: 12px;
	line-height: 1.25;
	padding: 0 0 17px;
	margin: 0 0 24px;
	color: @blue;
	background: url(../images/bg/19.png) no-repeat bottom;
	&:before{
		position: absolute;
		content: '';
		top: 10px;
		right: 16px;
		width: 42px;
		height: 42px;
		background: url(../images/icon/03.png) 0 -84px;
	}
	.mod-top {
		padding: 13px 0 0;
		background: url(../images/bg/17.png) no-repeat;
	}
	.mod-in {
		.clearfix;
		padding: 0px 28px 0 16px;
		background: url(../images/bg/18.png) repeat-y;
	}
	.mod-title {
		.fh;
		font-size: 24px;
		line-height: 1;
		margin: 0 0 10px;
	}
	p {
		margin: 7px 0;
	}
	label {
		display: block;
		margin: 0 0 5px;
		color: @cl;
		font-weight: bold;
		cursor: pointer;
		input {
			margin-right: 6px;
		}
	}
	.buttons {
		.clearfix;
		margin: 15px -15px -28px 6px;
		a,input {
			.rin;
			float: left;
			width: 79px;
			height: 33px;
			line-height: 28px;
			margin: 0 5px 0 0;
			padding: 0 5px 0 0;
			text-align: center;
			text-decoration: none;
			color: #fff;
			font-weight: bold;
			text-transform: uppercase;
			font-size: 11px;
			background: url(../images/form/06.png) no-repeat;
			&:hover{
				background-position: 0 -33px;
			}
		}
		input {
			line-height: 1;
			padding-bottom: 5px;
		}
	}
}
.mod_custom-zrizovatel {
	padding: 4px 32px 0 20px;
	width: 232px;
	float: left;
	text-align: center;
	font-size: 12px;
	min-height: 84px;
	background: url(../images/bg/26.png) no-repeat right top;
	p {
		margin: 10px 0;
	}
}
.mod_banners {
	float: right;
	width: 660px;
	margin: 0 0 -20px;
	.mod-title {
		.fh;
		font-size: 18px;
		line-height: 1.2;
		float: left;
		width: 100px;
		padding: 20px 0 0;
		color: @blue;
	}
	ul {
		.rul;
		.clearfix;
		width: 550px;
		float: right;
		li {
			.rli;
			float: left;
			margin: 0 0 10px 20px;
		}
	}
}
.mod_menu-footer {
	float: left;
	width: 640px;
	margin: 2px 0 0;
	padding: 0 0 14px;
	background: url(../images/bg/27.png) no-repeat left bottom;
	ul {
		.rul;
		.clearfix;
		li {
			.rli;
			float: left;
			margin: 0 25px 0 0;
			&.home a:before,&.contact a:before,&.sitemap a:before {
				zoom: 0.7;
				float: left;
				content: '';
				width: 32px;
				height: 32px;
				margin: -7px 4px 0 -4px;
				background: url(../images/icon/01.png) no-repeat;
				-webkit-opacity: 0.4;
				-moz-opacity: 0.4;
				opacity: 0.4;
				filter:alpha(opacity=40);
			}
			&.contact a:before {
				background-position: 0 -32px;
			}
			&.sitemap a:before {
				background-position: 0 -64px;
			}
			a {
				color: #fff;
				text-decoration: none;
				&:hover{
					text-decoration: underline;
					&:before {
						-webkit-opacity: 1;
						-moz-opacity: 1;
						opacity: 1;
						filter:alpha(opacity=100);
					}
				}
			}
		}
	}
}