.rul{
	margin: 0;
	padding: 0;
}
.rli{
	margin: 0;
	padding: 0;
	background: none;
	&:before{
		content: '';
		background: none;
	}
}
.rin{
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	background: none;
}